<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	 <!-- Can't create 2 beans with the same name, so  -->
	 <!-- autowiring by name seems ok, but of course requires --> 
	 <!-- a bean named exactly as wiring property -->
	 
	 <bean id = "sax" class = "com.springinaction.Sax"/>
	 <bean id = "guitar" class = "com.springinaction.Guitar"/>
	 <bean id = "piano" class = "com.springinaction.Piano"/>
	 
	 <bean id = "JACK" class = "com.springinaction.Jack" autowire = "byName"/>
 
 
 </beans>