<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 	<bean id = "juggler" class = "com.springinaction.Juggler"/>
 	
 	<bean id = "jugglerParam" class = "com.springinaction.Juggler" >
 		<constructor-arg value = "13"/>
 	</bean>
 	
 	<bean id = "sonnet" class = "com.springinaction.Sonnet29"/>
 	
 	<bean id = "poeticJuggler" class = "com.springinaction.PoeticJuggler">
	 	<constructor-arg value = "13"/>
	 	<constructor-arg ref = "sonnet"/>
 	</bean>

</beans>